<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <settings>
    <setting name="dragTransparent" value="true" />
    <setting name="hasFormShadow" value="false" />
    <setting name="greeting" value="false" />
    <setting name="borderForm" value="25" />
    <setting name="borderBtn" value="0" />
    <setting name="volume" value="50" />
  </settings>
</configuration>