<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <settings>
    <setting name="dragTransparent" value="True" />
    <setting name="hasFormShadow" value="True" />
    <setting name="greeting" value="False" />
    <setting name="alwaysHideMenu" value="True" />
    <setting name="borderForm" value="0" />
    <setting name="borderBtn" value="17" />
    <setting name="volume" value="50" />
    <setting name="PythonWaveStyle" value="True" />
  </settings>
</configuration>